.upload-gallery {
    display: flex;
    padding: 20px;
    border: 1px solid;
}

.upload-gallery-image {
    margin: 20px;
    padding: 10px;
    border: 1px solid;
}

.upload-gallery-image img {
    width: 100%;
}
