.item {
    text-align: center;
}

.item img {
    max-width: 900px;
    margin: 0 auto;
}

.img-wrapper {
    display: inline-block;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.info {
    margin-top: 20%;
    position: absolute;
    top: 0;
    width: 50%;
}

.info.info-left {
    margin-left: 5%;
    text-align: left;
}

.info.info-right {
    margin-right: 5%;
    text-align: right;
    right: 0;
}

.info h2 {
    color: #fe980f;
}

.info p {
    color: #ffffff;
}


@media (max-width: 768px) {
    .item img {
        max-width: 100%;
    }

    .info {
        margin-top: 30px
    }
  
}
@media (max-width: 470px) {
    .info {
        display: none
    }
}
