<div id="slider-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li *ngFor="let slide of slides; let ind = index;"
            data-target="#slider-carousel"
            [attr.data-slide-to]="ind"
            [attr.class]="ind === 0 ? 'active' : ''"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item"
             *ngFor="let slide of slides; let first = first"
             [ngClass]="{active: first}">
            <div class="img-wrapper">
                <img *ngIf="slide.image"
                     [src]="getSlideImage(slide)"
                     class="girl img-responsive"
                     alt="" />
                <div class="overlay"></div>
                <div class="info"
                     [class.info-left]="slide.position === getPositionMapping().LEFT"
                     [class.info-right]="slide.position === getPositionMapping().RIGHT">
                    <h2>{{ slide.title }}</h2>
                    <p>{{ slide.text }}</p>
                </div>
            </div>
        </div>
        <div class="item active" *ngIf="slides?.length === 0">
            <div class="img-wrapper">
                <img src="../../../../../assets/images/placeholder.png"
                     class="girl img-responsive"
                     alt="" />
            </div>
        </div>
    </div>

    <a href="#slider-carousel"
       class="left control-carousel hidden-xs"
       data-slide="prev">
        <i class="fa fa-angle-left"></i>
    </a>
    <a href="#slider-carousel"
       class="right control-carousel hidden-xs"
       data-slide="next">
        <i class="fa fa-angle-right"></i>
    </a>
</div>