.field-list-collection {
    float: left;
    width: 400px;
}

.button-panel {
    float: right;
    margin-top: 0;
    width: 130px;
}

.field-list-item + .field-list-item {
    margin-top: 20px;
}

.field-list-item .form-control {
    float: left;
    width: 380px;
}

.field-list-item a.btn-delete {
    float: right;
    margin-left: 5px;
    position: relative;
    top: 5px;
}