<div class="field">
    <label>{{ label }}</label>
    <div class="field-list">
        <div class="button-panel">
            <a class="button button-default button-small"
               (click)="addValue()">Добавить</a>
        </div>
        <div class="field-list-collection">
            <div *ngFor="let item of items; let ind = index;"
                 class="field-list-item clearfix">
                {{ val }}
                <input type="text"
                       [(ngModel)]="item.value"
                       class="form-control">
                <a class="btn-delete" (click)="removeValue(ind)">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <div *ngIf="!items || items?.length === 0" class="no-items">
                {{ noItemsMessage }}
            </div>
        </div>
    </div>
</div>