<form>
    <fieldset *ngIf="slide">
        <div class="field">
            <label for="title">Название</label>
            <input type="text"
                   id="title"
                   class="form-control"
                   [(ngModel)]="slide.title"
                   name="title">
        </div>
        <div class="field">
            <label for="title">Текст</label>
            <textarea type="text"
                      id="text"
                      class="form-control"
                      name="text"
                      rows="5"
                      [(ngModel)]="slide.text">
            </textarea>
        </div>
        <div class="field">
            <label>Позиция</label><br>
            <div class="checkbox-wrapper">
                <input type="radio"
                       name="in_store"
                       [value]="0"
                       [(ngModel)]="slide.position">
                <span>Слева</span>
            </div>
            <div class="checkbox-wrapper">
                <input type="radio"
                       name="in_store"
                       [value]="1"
                       [(ngModel)]="slide.position">
                <span>Cправа</span>
            </div>
        </div>
        <div *ngIf="isEdit()" class="field">
            <label>Миниатюра</label><br>
            <thumbnail-upload #thumbnailComponent
                              text="Сменить изображение"
                              (changeInput)="onImageInputChange($event)"
                              [imagePath]="getImageUrl()">
            </thumbnail-upload>
        </div>
    </fieldset>
    <div class="button-panel">
        <button class="button button-default">Сохранить</button>
    </div>
</form>