div.image-wrapper {
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    display: inline-block;
}
div.delete-btn {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 3px;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 10px;
}

div.image-wrapper.selected  div.delete-btn{
    top: -3px;
    right: -3px;
}

div.image-wrapper.selected {
    border-width: 3px;
}

img {
    border-radius: 5px;
    width: 100%;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.drag-process {
    background: white;
    border: none;
    padding: 0;
    border-radius: 10px;
}

.drag-over {
    background-color: #bae9ff;
}

.selected {
    border-color: #a2ddb0;
}