<a>
    <div draggable
         [dragData]="imagePackage"
         [dragTransitClass]="'drag-process'"
         [dragOverClass]="'drag-over'"
         droppable
         (onDrop)="onDrop($event)"
         [class.selected]="imagePackage.selected"

         [contextMenu]="productImageMenu"
         [contextMenuSubject]="fileUrl"

         class="image-wrapper">
        <img [src]="getFullPath()" alt="">
    </div>
</a>

<context-menu #productImageMenu>
    <ng-template *ngFor="let option of options" contextMenuItem (execute)="option.handler($event)">
        {{option.title}}
    </ng-template>
</context-menu>

