<div class="slides" *ngIf="slides">
    <div class="slide" *ngFor="let slide of slides" (click)="selectSlide(slide)">
        <div class="slide-img">
            <img *ngIf="!slide.image"
                 src="../../../../../../../assets/images/placeholder.png"
                 alt="">
            <img *ngIf="slide.image"
                 [src]="getSlideImage(slide)"
                 alt="">
        </div>
        <span class="slide-title">
            {{ slide.title }}
        </span>
        <br>
        <p class="slide-text">
            {{ slide.text }}
        </p>
        <a class="remove-btn" (click)="removeSlide(slide)">
            <i class="fa fa-times"></i>
        </a>
        <div class="clearfix"></div>
    </div>
</div>
<div class="no-slides text-center" *ngIf="slides?.length === 0">
    Нет слайдов
</div>