span.slide-title {
    font-weight: bold;
}

p.slide-text {
    display:inline-block;
    overflow:hidden !important;
    text-overflow: ellipsis;
    width: 400px;
    height: 103px;
}

.slide + .slide {
    margin-top: 20px;
}

.slide {
    border: 1px solid #d6d6d6;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.slide:hover {
    background-color: #f5f6f7;
}

.slide-img {
    float: left;
    width: 150px;
    padding-right: 10px;
}

.slide-img img {
    width: 100%;
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    z-index: 1;
}

.no-slides {
    padding: 100px 0;
}