<section id="slider"
         data-aos="fade-up"
         data-aos-delay="300"
         data-aos-duration="1000">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <home-slider [slides]="slides"></home-slider>
            </div>
        </div>
    </div>
</section>
<category-grid [categories]="categories"></category-grid>