<div class="left-sidebar">
    <div class="price-range">
        <h2>Цена</h2>
        <div class="well text-center">
            <input type="text"
                   class="span2"
                   value=""
                   id="price_filter"><br />
            <b class="pull-left">{{ filter.price_from }} грн</b>
            <b class="pull-right">{{ filter.price_to }} грн</b>
        </div>
    </div><!--/price-range-->
    <div class="text-center">
        <button type="button"
                class="btn btn-default get"
                id="apply-filter-btn">Применить</button>
        <button type="button"
                class="btn btn-default get"
                id="clear-filter-btn">Сбросить</button>
    </div>
</div>