.logo img {
    width: 70px;
}

ul.nav > li > a:focus {
    background-color: transparent;
}

.search_box > a {
    color: #8C8C88;
}

@media (max-width: 1024px) {
    .search_box {
        display: none
    }
}

@media (max-width: 400px) {
    .contactinfo ul li:first-child {
        margin-left: 0
    }
}
