<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a><i class="fa fa-phone"></i>{{ getPhone() }}</a></li>
                            <li><a href="mailto:{{ email }}"><i class="fa fa-envelope"></i> {{ email }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a routerLink=""><img src="../../../../../assets/images/mock/home/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a [routerLink]="'/'">Главная</a></li>
                            <li><a [routerLink]="'/categories'" routerLinkActive="active">Магазин</a></li>
                            <!--<li class="dropdown"><a href="#">Магазин<i class="fa fa-angle-down"></i></a>-->
                            <!--<ul role="menu" class="sub-menu">-->
                            <!--<li><a href="shop.html">Products</a></li>-->
                            <!--<li><a href="product-details.html">Product Details</a></li>-->
                            <!--<li><a href="checkout.html">Checkout</a></li>-->
                            <!--<li><a href="cart.html">Cart</a></li>-->
                            <!--<li><a href="login.html">Login</a></li>-->
                            <!--</ul>-->
                            <!--</li>-->
                            <li><a [routerLink]="'/page/about-us'" routerLinkActive="active">О нас</a></li>
                            <li><a [routerLink]="'/page/contacts'" routerLinkActive="active">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <a (click)="activateSearch()">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->