<div>
    <label>{{ title }}</label>

    <a class="pull-right" (click)="toggleFilterField()">
        <i class="fa"
           [class.fa-plus]="!filterField.selected"
           [class.fa-minus]="filterField.selected">
        </i>
    </a>

    <div [hidden]="!filterField.selected">
        <ng-content></ng-content>
    </div>
</div>