.products-list {
    float: left;
    width: 60%;
}

.products-filter-wrapper {
    float: left;
    width: 40%;
}

table {
    width: 90%;
    margin-top: 50px;
    border: 1px solid #e4e4e4;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #e4e4e4;
    padding: 10px;
    text-align: center;
}


.thumbnail-wrapper img {
    width: 50px;
}

.panel a + a {
    margin-left: 5px;
}

.products-filter {
    display: block;
    margin-top: 50px;
}

.products-wrapper {
    min-height: 760px;
}

.no-products {
    margin-top: 150px;
    text-align: center;
}