<div class="products-list">

    <h3>Список товаров</h3>

    <div class="products-wrapper">
        <table *ngIf="products?.length > 0">
            <tr>
                <th>Миниатюра</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Наличие</th>
                <th>Панель</th>
            </tr>
            <tr *ngFor="let product of products">
                <td class="thumbnail-wrapper">
                    <img *ngIf="!product.selected_image" src="../../../../../../assets/images/mock/category-2.jpg">
                    <img *ngIf="product.selected_image" [src]="getProductImage(product)">
                </td>
                <td>{{ product.title }}</td>
                <td>
                    <span *ngIf="!isEmptyPrice(product)">{{ product.price_from }} грн - {{ product.price_to }} грн</span>
                    <span *ngIf="isEmptyPrice(product)">Цена не выставлена</span>
                </td>
                <td>{{ (product.in_store) ? 'На складе' : 'Нет в наличии' }}</td>
                <td class="panel">
                    <a routerLink="/admin/dashboard/products/edit/{{product.id}}"><i class="fa fa-pencil"></i></a>
                    <a (click)="removeProduct(product)"><i class="fa fa-times"></i></a>
                </td>
            </tr>
        </table>
        <div *ngIf="products?.length == 0" class="no-products">
            Продуктов не найдено
        </div>
    </div>

    <ngb-pagination *ngIf="meta && meta.total > meta.count"
                    [collectionSize]="meta.total"
                    [(page)]="meta.page"
                    [maxSize]="meta.per_page"
                    [boundaryLinks]="true"
                    (pageChange)="pageChange($event)">
    </ngb-pagination>
</div>
<div class="products-filter-wrapper">
    <h3>Фильтр</h3>
    <dsh-product-filter class="products-filter" [filter]="filter" (filterApply)="onFilterApply($event)"></dsh-product-filter>
</div>
<div class="clearfix"></div>