.single-widget-row {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 0;
}

footer {
    height: 100%
}

.single-widget-row a {
    color: #8C8C88;
}

.single-widget-row a:hover, .single-widget-row a.active {
    color: #fdb45e;
}

@media (max-width: 1199px) {
    .single-widget-container + .single-widget-container {
        margin-top: 20px
    }
    
    .single-widget {
        text-align: center
    }

    .single-widget h2 {
        margin-top: 10px
    }
}
