<footer id="footer">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-3 single-widget-container">
                    <div class="single-widget">
                        <h2>Сервис</h2>
                        <div class="single-widget-row">
                            <a [routerLink]="'/'">
                                Главная
                            </a>
                        </div>
                        <div class="single-widget-row">
                            <a [routerLink]="'/categories'" routerLinkActive="active">
                                Магазины
                            </a>
                        </div>
                        <div class="single-widget-row">
                            <a [routerLink]="'/page/about-us'" routerLinkActive="active">
                                О нас
                            </a>
                        </div>
                        <div class="single-widget-row">
                            <a [routerLink]="'/page/contacts'" routerLinkActive="active">
                                Контакты
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-lg-3 single-widget-container">
                    <div class="single-widget">
                        <h2>Адрес</h2>
                        <div class="single-widget-row">{{ zip }} {{ city ? ', г.' + city : ''}}</div>
                        <div class="single-widget-row">{{ street }}</div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-3 single-widget-container">
                    <div class="single-widget">
                        <h2>Телефоны</h2>
                        <div *ngFor="let phone of phones"
                             class="single-widget-row">
                            {{ phone }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-3 single-widget-container">
                    <div class="single-widget">
                        <h2>Режим работы</h2>
                        <div *ngFor="let scheduleItem of schedule"
                             class="single-widget-row">
                            {{ scheduleItem }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
