<form>
    <div class="field">
        <textarea [froalaEditor]="editorOptions"
                  [(froalaModel)]="content"
                  name="content">
        </textarea>
    </div>
    <div class="button-panel">
        <button class="button button-default">Сохранить</button>
    </div>
</form>