
html {
    height: 100%;
}

body {
    height: 100%;
}

a {
    cursor: pointer;
}

a:hover, a:focus {
    text-decoration: none
}

html ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

html ::-webkit-scrollbar-thumb {
    background: #fe980f;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url("./../fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

.wrapper {
    height: 100%;
}

.page {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-flow: row, wrap;
    align-items: stretch;
    height: 100%;
}

.dashboard-container {
    color: #54627a;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.dashboard-container h2 {
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

input {
    padding: 5px;
    border: 1px solid #bdc1c1;
}

input:focus {
    outline-color: #03a9f4;
}

.field {
    display: block;
}

.field + .field {
    margin-top: 15px;
}

.field.required label:after {
    content: ' *';
    color: red;
}

.button {
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    border: 0;
}

.button.button-small {
    font-size: 13px;
    padding: 6px 18px;
}

.button-default {
    background: #76bcf9;
}

.button-success {
    background: #00ce00;
}

.button-danger {
    background: #d12310;
}

.tree-root > div {
    padding-left: 0 !important;
}

/*Bootstrap*/

.form-control, .form-control:focus {
    border-radius: 0;
    border-color: #ccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* Forms */

.button-panel {
    margin-top: 30px;
    text-align: right;
}

/* Simple notifications */

.simple-notification-wrapper {
    width: 350px;
}

.simple-notification-wrapper .sn-title {
    font-size: 16px !important;
    line-height: 18px !important;
    font-weight: bold;
    width: 250px;
    margin-bottom: 10px !important;
}

.simple-notification-wrapper .sn-content {
    font-size: 14px !important;
}

@media (max-width: 450px) {
    .col-12 {
        width: 100%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
}

