<div class="wrapper clearfix">
    <div class="col-xs-6">
        <form>
            <fieldset *ngIf="settings">
                <div class="field">
                    <label for="title">Название сайта</label>
                    <input type="text"
                           id="title"
                           class="form-control"
                           [(ngModel)]="settings.site_name"
                           name="site_name">
                </div>
                <div class="field">
                    <label for="email">E-mail</label>
                    <input type="text"
                           id="email"
                           class="form-control"
                           name="email"
                           [(ngModel)]="settings.email">
                </div>
                <div class="field">
                    <label for="city">Город</label>
                    <input type="text"
                           id="city"
                           class="form-control"
                           name="city"
                           [(ngModel)]="settings.city">
                </div>
                <div class="field">
                    <label for="street">Улица</label>
                    <input type="text"
                           id="street"
                           class="form-control"
                           name="street"
                           [(ngModel)]="settings.street">
                </div>
                <div class="field">
                    <label for="zip">Почтовый индекс</label>
                    <input type="text"
                           id="zip"
                           class="form-control"
                           name="zip"
                           [(ngModel)]="settings.zip">
                </div>
                <list-input [label]="'Телефоны'"
                            [items]="phonesInputItems"
                            [noItemsMessage]="'Телефонов нет'"
                            class="field clearfix">
                </list-input>
                <list-input [label]="'Расписание'"
                            [items]="scheduleInputItems"
                            [noItemsMessage]="'Расписания нет'"
                            class="field clearfix">
                </list-input>

            </fieldset>
            <div class="button-panel">
                <button class="button button-default">Сохранить</button>
            </div>
        </form>
    </div>
</div>