<div *ngIf="isEdit">
    <h3>Загрузка изображений</h3>
    <input type="file" (change)="onInputChange($event)" id="upload_input" multiple>

    <!--gallery start-->
    <div class="gallery">
        <div class="gallery-wrapper">
            <dsh-gallery-upload-item *ngFor="let imagePackage of imagePackages"
                                     class="item"
                                     [product]="product"
                                     [imagePackage]="imagePackage">
            </dsh-gallery-upload-item>
            <div *ngIf="imagePackages?.length == 0" class="no-images">
                Нет изображений
            </div>
        </div>
    </div>
    <!--gallery end-->

    <div class="button-panel">
        <button class="button button-default" (click)="openDialog()">Загрузить</button>
        <button class="button button-default" (click)="removeAllImages()">Удалить все</button>
    </div>
</div>