.gallery {
    margin-top: 15px;
}

input {
    display: none;
}

.gallery-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border: 1px solid #e4e4e4;
    min-height: 100px;
}

.item {
    border-radius: 10px;
    width: 21%;
    margin: 2%;
}

.no-images {
    text-align: center;
    margin-top: 40px;
    width: 100%;
}