.logo {
    font-family: Merriweather, Arial, sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

.logo img {
    width: 70px;
}

a {
    display: inline-block;
}

li {
    position: relative;
}

ul.sub-menu {
    overflow: hidden;
}

ul.menu > li > a, ul.sub-menu > li > a {
    padding: 10px 10px;
    width: 100%;
}

ul.menu > li > a > i.item-arrow {
    font-size: 11px;
    position: absolute;
    right: 10px;
    top: 12px;
}

ul.menu > li > a > i.item-icon {
    font-size: 20px;
    padding-right: 13px;
}

ul.menu > li > a:hover {
    color: white;
    transition: color 0.1s;
}

ul.menu > li.active {
    border-top: 1px solid #c5eef7;
    border-right: 5px solid #b1f5e8;
}

ul.menu > li.active ul.sub-menu {
    transition: max-height 0.3s ease-in;
    max-height: 300px;
}

ul.menu > li:not(.active) ul.sub-menu {
    transition: max-height 0.15s ease-out;
    max-height: 0;
}

ul.sub-menu > li:after {
    content: '';
    display: block;
    width: 7px;
    height: 6px;
    border-radius: 15px;
    background-color: #a8d4de;
    top: 50%;
    margin-top: -3px;
    position: absolute;
    left: 17px;
}

ul.sub-menu > li:before {
    border-left: 1px solid #a8d4de;
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
}

ul.sub-menu > li > a {
    color: #e7e7e7;
    padding-left: 40px;
}

ul.sub-menu > li > a:hover {
    color: #b1f5e8;
}

li.menu-sub-item {
    background-color: #2a3f54;
}

li.menu-item > a {
    color: #000;
}

a.logout {
    color: #000000;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

a.logout:hover {
    color: #ffffff;
}

a.mobile-btn {
    position: absolute;
    right: -34px;
    top: 3px;
    font-size: 21px;
}