<div class="sidebar-container">
    <div class="logo">
        Зоряне Сяйво <br>
        <img src="../../../../../assets/images/admin/logo.png" alt="">
    </div>
    <nav>
        <ul class="menu" *ngIf="items">
            <li *ngFor="let item of items"
                class="menu-item"
                [class.active]="item.active">
                <a *ngIf="!item.children" (click)="selectMenu(item)"
                   routerLink="{{item.url}}">
                    <i class="item-icon fa fa-{{item.icon}}"></i>
                    {{item.title}}
                </a>
                <a *ngIf="item.children" (click)="selectMenu(item)">
                    <i class="item-icon fa fa-{{item.icon}}"></i>
                    {{item.title}}
                    <i class="item-arrow fa"
                       [class.fa-chevron-down]="!item.active"
                       [class.fa-chevron-up]="item.active">

                    </i>
                </a>
                <ul class="sub-menu">
                    <li *ngFor="let subItem of item.children" class="menu-sub-item">
                        <a routerLink="{{subItem.url}}">{{subItem.title}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <a class="logout" (click)="logout()">
        <i class="fa fa-power-off"></i>
    </a>
</div>