<div class="categories clearfix"
     data-aos-delay="500"
     data-aos-duration="1000"
     data-aos="fade-up">
    <h2 class="title text-center">Категории</h2>
    <div class="col-12 col-xs-6 col-md-3 category"
         *ngFor="let category of categories">
        <a routerLink="{{ getCategoryLink(category) }}"
           [queryParams]="getCategoryLinkParams(category)">
            <div class="img-wrapper">
                <img *ngIf="!category.thumbnail"
                     src="../../../../../assets/images/placeholder.png"
                     alt="">
                <img *ngIf="category.thumbnail"
                     [src]="getThumbnailUrl(category)"
                     alt="">
                <div class="overlay"></div>
            </div>

            <span class="category-title">{{ category.title }}</span>
        </a>
    </div>
    <div class="no-categories" *ngIf="isCategoriesEmpty()">
        Категорий не найдено
    </div>
</div>
