.categories {
    padding: 45px 0;
}

.category {
    position: relative;
    margin-top: 25px;
}

.category img {
    width: 100%;
}

.category span.category-title {
    position: absolute;
    top: 15%;
    left: 20%;
    text-align: center;
    color: #fff;
    z-index: 2;
    font-weight: bold;
    font-size: 17px;
}

.img-wrapper {
    position: relative;
}

.img-wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    z-index: 1;
}

.img-wrapper .overlay:hover {
    opacity: 0;
}

.no-categories {
    margin-top: 100px;
    text-align: center;
}

