.product-title {
    margin: 0;
}

.product-field {
    margin-top: 20px;
}

#price-rates-table {
    /*background-color: #f5f5ed;*/
    border-collapse: collapse;
}

#price-rates-table tr td {
    border: 1px solid #e0e0e0;
}

#price-rates-table tr td.range {
    padding: 5px 20px 5px 10px;
}

#price-rates-table tr td.price {
    color: #fe980f;
    font-weight: bold;
    padding: 5px 20px 5px 10px;
}

.gallery-part {
    margin-bottom: 50px;
}

.gallery-part image-gallery {
    display: block;
    max-width: 500px;
}

h2.product-price {
    margin: 0 0 10px;
}