<div *ngIf="product">
    <div class="col-xs-12 col-lg-6 gallery-part"
         data-aos="fade-up"
         data-aos-duration="1000"
         data-aos-delay="500">
        <image-gallery *ngIf="product"
                       [selectedImage]="product.selected_image"
                       [imagePackages]="product.gallery">
        </image-gallery>
    </div>
    <div class="col-xs-12 col-lg-6 info"
         data-aos="fade-up"
         data-aos-duration="1000"
         data-aos-delay="500">

        <h2 class="product-title">{{ product.title }}</h2>

        <div class="product-field">
            <label>Наличие</label>
            <div *ngIf="product.in_store">
                <i class="fa fa-check-circle"></i> В наличии
            </div>
            <div *ngIf="!product.in_store" class="not-in-stock">
                <i class="fa fa-times-circle"></i> Нет в наличии
            </div>
        </div>

        <div class="product-field">
            <label for="price-rates-table">Цена</label>
            <h2 class="product-price"
                *ngIf="product.price_from !== product.price_to">
                {{ product.price_from }}<span>грн</span> - {{ product.price_to }}<span>грн</span>
            </h2>
            <h2 class="product-price"
                *ngIf="product.price_from === product.price_to">
                {{ product.price_from }}<span>грн</span>
            </h2>
            <table id="price-rates-table">
                <tbody>
                    <tr *ngFor="let rate of product.price_rates">
                        <td class="range">
                            {{ rate.range }}
                        </td>
                        <td class="price">
                            {{ rate.price }} грн<span *ngIf="rate.postfix">/{{ rate.postfix }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="product.description" class="product-field">
            <label>Описание</label>
            <p>{{ product.description }}</p>
        </div>
    </div>
</div>