form {
    padding: 100px 50px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
    color: #fff;
}

form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    font-size: 3vw;
    color: #ffffff;
}

form input::placeholder {
    color: #fff;
}

form input:active, form input:focus {
    outline: none;
}

.field {
    position: relative;
    margin: 0 auto;
    width: 60%;
}

.btn-close {
    color: #fff;
    border-radius: 10px;
    display: inline-block;
    font-size: 36px;
    position: absolute;
    right: 10%;
}