<form class="search-form">
    <div class="field">
        <input type="text"
               placeholder="Поиск..."
               [(ngModel)]="searchQuery"
               name="query">
        <a class="btn-close" (click)="exitSearch()">
            <i class="fa fa-times"></i>
        </a>
    </div>
</form>