.tree-container {
    background-color: #f7f7f7;
    float: left;
    min-height: 300px;
    padding: 10px;
    width: 300px;
    position: relative;
}

ul > li > img {
    width: 30px;
}

ul > li + li {
    margin-top: 10px;
}

li.category ul {
    margin-top: 10px;
    padding-left: 15px;
}

img {
    margin-left: 7px;
}

.no-categories {
    padding: 15px;
    text-align: center;
}