<div class="tree-container"
     [contextMenu]="generalMenu"
     droppable
     (onDrop)="onDrop($event)">

    <category-tree-collection *ngIf="categories"
                              [categories]="categories"
                              class="tree-root">
    </category-tree-collection>

    <div *ngIf="categories?.length == 0" class="no-categories">
        Вы не создали ни одной категории. Для создания категории, щёлкните правой кнопкой мыши и выберите пункт "Создать категорию"
    </div>

    <context-menu #generalMenu>
        <ng-template *ngFor="let option of options"
                     contextMenuItem (execute)="option.handler($event)">
            {{option.title}}
        </ng-template>
    </context-menu>
</div>
<div class="clearfix"></div>
