<form>
    <product-filter-field
            [title]="'Название'"
            [filterField]="filter.title"
            class="field field-filter">
        <input type="text"
               class="form-control"
               name="title"
               [(ngModel)]="filter.title.value">
    </product-filter-field>

    <product-filter-field [title]="'Категория'"
                          [filterField]="filter.category_id"
                          class="field field-filter">
        <select name="category"
                id="category"
                class="form-control"
                [(ngModel)]="filter.category_id.value">
            <option *ngFor="let category of categories | orderBy: 'title'"
                    [value]="category.id">
                {{ category.title }}
            </option>
        </select>
    </product-filter-field>

    <product-filter-field [title]="'Цена'"
                          [filterField]="filter.price"
                          class="field field-filter">
        <input type="text"
               class="form-control"
               id="price"
               name="price"
               [(ngModel)]="filter.title.value">
    </product-filter-field>

    <product-filter-field [title]="'Наличие'"
                          [filterField]="filter.in_store"
                          class="field field-filter">
        <div class="checkbox-wrapper">
            <input type="checkbox"
                   name="in_store"
                   id="in_store"
                   [(ngModel)]="filter.in_store.value"
                   [checked]="filter.in_store.value == 1">
            <span>На складе</span>
        </div>
    </product-filter-field>

    <div class="button-panel">
        <button class="button button-default" id="apply-filter-btn">Применить</button>
        <button class="button button-default" (click)="reset()">Сбросить</button>
    </div>
</form>