.tree-item-container {
    position: relative;
    padding-left: 15px;
}

.category {
    display: inline-block;
    border: 2px solid transparent;
    padding: 5px;
}

.category:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #f2f7f9;
    border: 2px solid #a8d4de;
}

.category.selected, .category:focus {
    background-color: #a8d4de;
    border-radius: 5px;
    color: #fff;
    outline: none;
}

.drag-over {
    border-radius: 5px;
    border: 2px dotted #a8d4de;
}

.category img {
    width: 30px;
}

.expand-btn {
    position: absolute;
    top: 10px;
    left: 0;

}