<div class="tree-item-container">

    <a *ngIf="category.children?.length > 0"
       class="expand-btn"
       (click)="expanded = !expanded">
        <i class="fa"
           [class.fa-plus]="!expanded"
           [class.fa-minus]="expanded">
        </i>
    </a>
    <a>
        <div [ngClass]="draggableClass"
             tabindex="1"

             droppable
             [dragOverClass]="'drag-over'"
             [dropEnabled]="dropEnabled"
             (onDrop)="onDrop($event)"
             (onDragLeave)="onDragLeave($event)"

             (blur)="onBlur()"
             [class.selected]="selected"
             (contextmenu)="onRightClick()"
             (mousedown)="onMouseDown()"
             (mouseup)="onMouseUp()"
             (click)="onClick($event)"

             [contextMenu]="categoryMenu"
             [contextMenuSubject]="item"

             draggable
             [dragData]="draggable"
             (onDragEnd)="onDragEnd($event)">

            <img *ngIf="!category.thumbnail"
                 src="../../../../../../../assets/images/placeholder.png"
                 alt="">

            <img *ngIf="category.thumbnail" [src]="getThumbnailUrl()" alt="">

            {{category.title}}
        </div>
    </a>
    <category-tree-collection [hidden]="!expanded"
                              *ngIf="category.children?.length > 0"
                              [categories]="category.children"
                              [parentCategory]="category">
    </category-tree-collection>
</div>
<context-menu #categoryMenu>
    <ng-template contextMenuItem
                 *ngFor="let option of options"
                 (execute)="option.handler($event)">
        <div (click)="onClickContextMenuItem()">
            {{option.title}}
        </div>
    </ng-template>
</context-menu>
