<div class="wrapper clearfix">
    <div class="col-xs-6">
        <div>
            <a routerLink="{{ getAddSliderRoute() }}"
               class="button button-default">Добавить слайд</a>
        </div>
        <slider-items [slides]="slides"></slider-items>
    </div>
    <div class="col-xs-6">
        <router-outlet></router-outlet>
    </div>
</div>