<div class="wrapper" *ngIf="product.id">
    <h3>Ценовая политика</h3>

    <button class="add-price-rate button button-default"
            (click)="showForm()">Добавить цену</button>

    <div class="form" *ngIf="isFormVisible">
        <div class="field required">
            <label>Диапазон</label>
            <input type="text" class="form-control" [(ngModel)]="editablePriceRate.range"><br>
        </div>
        <div class="field required">
            <label>Цена</label>
            <input type="number" class="form-control" [(ngModel)]="editablePriceRate.price"><br>
        </div>
        <div class="field">
            <label>Приставка</label>
            <input type="text" class="form-control" [(ngModel)]="editablePriceRate.postfix">
            <span class="hint">Вспомагательные символы: ² ³</span>
        </div>
        <div class="button-panel">
            <!--Add price rate-->
            <button *ngIf="!editablePriceRate.id"
                    class="button button-default"
                    (click)="addPriceRate()">Добавить</button>
            <!--Save price rate rate-->
            <button *ngIf="editablePriceRate.id"
                    class="button button-default"
                    (click)="savePriceRate()">Готово</button>
            <!--Cancel-->
            <button *ngIf="!editablePriceRate.id"
                    class="button button-default"
                    (click)="hideForm()">Отмена</button>
        </div>
    </div>

    <div class="price-rates-container">
        <ul *ngIf="priceRates">
            <li *ngFor="let priceRate of priceRates">
                <span>{{ getPriceRateString(priceRate)}}</span>
                <div class="options">
                    <a class="btn-edit" (click)="editPriceRate(priceRate)">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="btn-delete" (click)="removePriceRate(priceRate)">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </li>
        </ul>
        <div *ngIf="!priceRates || priceRates.length == 0" class="text-center">
            Цена не установлена
        </div>
    </div>

    <div class="button-panel">
        <button class="button button-default">Сохранить</button>
    </div>
</div>