.wrapper {
    max-width: 400px;
}

button.add-price-rate {
    margin-top: 20px;
}

.price-rates-container {
    margin-top: 50px;
}


.form {
    margin-top: 40px;
}

ul {
    margin-left: 20px;
    list-style-type: disc;
}

ul li {
    position: relative;
}

ul li .options {
    display: inline-block;
    position: absolute;
    right: 0;
}

ul li .options a + a {
    margin-left: 5px;
}

ul li + li {
    margin-top: 10px;
}

ul li span {
    display: inline-block;
    max-width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    position: relative;
    top: 2px;
}