#container {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-flow: row, wrap;
    align-items: stretch;
    min-height: 100%;
}

.sidebar {
    flex-basis: 275px;
    background-color: #a8d4de;
    position: relative;
}

.content {
    flex-basis: calc(100vw - 275px);
    padding: 15px;
    background-color: #F7F7F7;
}

.content-block {
    border: 1px solid #e4e4e4;
    padding: 15px;
    background-color: #ffffff;
}