<div id="container" class="dashboard-container">
    <dashboard-sidebar class="sidebar">
    </dashboard-sidebar>
    <div class="content">
        <h2>{{ title }}</h2>
        <div class="content-block">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
