.main-image img, .thumbnail-item img {
    width: 100%;
}

.thumbnail-item {
    cursor: pointer;
    float: left;
    width: 90px;
}

.thumbnails {
    margin-top: 20px;
    position: relative;
}

.arrows {
    position: absolute;
    top: 8px;
    width: 100%;
}

.arrows a {
    position: absolute;
    font-size: 50px;
}

.arrows-container {
    position: relative;
}

a.arrow-left {
    left: 0;
}

a.arrow-right {
    right: 0;
}

.thumbnails {
    text-align: center;
}

.thumbnails-container {
    display: inline-block;
}

span.info {
    font-size: 12px;
}