<div class="gallery">
    <div class="main-image">
        <img *ngIf="imagePackages?.length === 0"
             src="../../../../../../assets/images/placeholder.png"
             alt="">
        <img *ngIf="imagePackages.length > 0"
             [src]="getImageUrl(selectedImagePackage)"
             alt="">
    </div>
    <div class="thumbnails" *ngIf="imagePackages">
        <div class="thumbnails-container clearfix">
            <div class="thumbnail-item"
                 *ngFor="let imagePackage of getActualImagePackages()"
                 (click)="selectImagePackage(imagePackage)">
                <img class="placeholder-img" [src]="getThumbnailUrl(imagePackage)" alt="">
            </div>
        </div>
        <div class="arrows">
            <div class="arrows-container">
                <a class="arrow-left">
                    <i class="fa fa-angle-left" (click)="toTheLeft()"></i>
                </a>
                <a class="arrow-right">
                    <i class="fa fa-angle-right" (click)="toTheRight()"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="text-center">
        <span class="info">Для увеличения зажмите выбранную область</span>
    </div>
</div>