<div>
    <div class="form-container">
        <dsh-product-form></dsh-product-form>
        <dsh-product-price class="product-price-section"></dsh-product-price>
    </div>
    <div class="image-upload-container">
        <dsh-gallery-upload></dsh-gallery-upload>
    </div>
    <div class="clearfix"></div>
</div>