.layout {
    overflow: hidden;
    background-color: #fff;
    min-height: 100vh;
}

.layout.rotate {
    background: linear-gradient(to right, #fe980f, #eebc12);
}

.scrollable-container {
    background-color: #ffffff;
    max-width: 1920px;
    margin: 0 auto;
    scrollbar-track-color: #000;
    transition: transform .5s cubic-bezier(.2,1,.3,1),-webkit-transform .5s cubic-bezier(.2,1,.3,1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout.rotate .scrollable-container {
    height: 100vh;
    overflow: auto;
    transform: perspective(1000px) translate3d(0,50vh,0) rotate3d(1,0,0,30deg);
}


.content-without-footer {
    flex-grow: 2
}
