<div class="layout" [class.rotate]="isSearchActive">
    <site-search class="search-layout" *ngIf="isSearchActive">
    </site-search>
    <div class="site-layout scrollable-container">
        <div class="content-without-footer">
            <site-header *ngIf="settings"
                         [phones]="settings[settingKeys.PHONES]"
                         [email]="settings[settingKeys.EMAIL]">
            </site-header>

            <section class="content">
                <div class="container">
                    <div class="col-sm-12 padding-right padding-left">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </section>
        </div>
        <site-footer *ngIf="settings"
                     [phones]="settings[settingKeys.PHONES]"
                     [city]="settings[settingKeys.CITY]"
                     [street]="settings[settingKeys.STREET]"
                     [zip]="settings[settingKeys.ZIP]"
                     [schedule]="settings[settingKeys.SCHEDULE]">
        </site-footer>
    </div>
</div>