<form>
    <fieldset *ngIf="category">
        <div class="field">
            <label for="title">Название</label>
            <input type="text"
                   id="title"
                   class="form-control"
                   [(ngModel)]="category.title"
                   name="title">
        </div>
        <div *ngIf="isEdit()" class="field">
            <label>Миниатюра</label><br>
            <thumbnail-upload #thumbnailComponent
                              text="Сменить миниатюру"
                              (changeInput)="onThumbnailChange($event)"
                              [imagePath]="getThumbnailUrl()">
            </thumbnail-upload>
        </div>
    </fieldset>
    <div class="button-panel">
        <button class="button button-default">Сохранить</button>
    </div>
</form>