.no-products {
    text-align: center;
    padding: 150px 0;
}

.features_items{
    max-height: 1230px;
    overflow:hidden;
}

.product-image-wrapper{
    border:1px solid #F7F7F5;
    overflow: hidden;
    margin-bottom:30px;
    padding-bottom: 25px;
}

.productinfo p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #696763;
}

.productinfo p a {
    font-weight: bold;
    color: #54627a;
}

.not-in-stock {
    color: #de0303;
}

@media (max-width: 991px) {
    .products-filter {
        display: none;
    }

    .no-products {
        padding: 50px 0;
    }
}
