<div class="col-sm-3 products-filter"
     data-aos="fade-up"
     data-aos-duration="1000">
    <products-filter (filterApply)="onFilterChange($event)">
    </products-filter>
</div>
<div class="col-sm-12 col-md-9 padding-right"
     data-aos="fade-up"
     data-aos-duration="1000">
    <div class="features_items"
         [class.empty]="products?.length == 0">
        <h2 class="title text-center">Пододеяльники</h2>
        <div class="col-12 col-xs-6 col-sm-4" *ngFor="let product of products">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <a routerLink="{{ getProductDetailsRoute(product.id) }}">
                            <img *ngIf="!product.selected_image"
                                 src="../../../../assets/images/placeholder.png"
                                 alt="" />
                            <img *ngIf="product.selected_image"
                                 [src]="getProductImage(product)"
                                 alt="" />
                        </a>
                        <h2 class="product-price"
                            *ngIf="product.price_from !== product.price_to">
                            {{ product.price_from }}<span>грн</span> - {{ product.price_to }}<span>грн</span>
                        </h2>
                        <h2 class="product-price"
                            *ngIf="product.price_from === product.price_to">
                            {{ product.price_from }}<span>грн</span>
                        </h2>

                        <p>
                            <a routerLink="{{ getProductDetailsRoute(product.id) }}">
                                {{ product.title }}
                            </a>
                        </p>

                        <div class="product-check">
                            <div *ngIf="product.in_store">
                                <i class="fa fa-check-circle"></i> В наличии
                            </div>
                            <div *ngIf="!product.in_store" class="not-in-stock">
                                <i class="fa fa-times-circle"></i> Нет в наличии
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="products?.length == 0" class="no-products">
            Продуктов не найдено
        </div>
    </div>
    <div class="text-center">
        <ngb-pagination *ngIf="meta && meta.total > meta.count"
                        class="pagination-default"
                        [collectionSize]="meta.total"
                        [(page)]="meta.page"
                        [pageSize]="meta.per_page"
                        [boundaryLinks]="true"
                        (pageChange)="pageChange($event)">
        </ngb-pagination>
    </div>
</div>
