<div class="login-bg">
    <form>
        <div class="form-header">
            <h4>Вход</h4>
        </div>
        <div class="form-content">
            <fieldset>
                <input [(ngModel)]="user.username" type="email" name="email" placeholder="Ваш E-mail">
                <input [(ngModel)]="user.password" type="password" name="pass" placeholder="Ваш Пароль">
            </fieldset>
            <div class="form-panel">
                <input type="submit" value="Войти" class="button">
            </div>
        </div>
    </form>
</div>