.login-bg {
    background: #1e1d1f;
    background: -moz-linear-gradient(-45deg, #1e1d1f 0%, #03a9f4 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #1e1d1f), color-stop(100%, #03a9f4));
    background: -webkit-linear-gradient(-45deg, #1e1d1f 0%, #03a9f4 100%);
    background: -o-linear-gradient(-45deg, #1e1d1f 0%, #03a9f4 100%);
    background: -ms-linear-gradient(-45deg, #1e1d1f 0%, #03a9f4 100%);
    background: linear-gradient(135deg, #1e1d1f 0%, #03a9f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1d1f', endColorstr='#df405a', GradientType=1 );
    height: 100%;
}

form {
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -175px;
    border: 1px solid black;
    padding: 0 0 25px;
    background-color: #fff;
    overflow: hidden;
}

form .form-header {
    background: black;
    color: white;
    overflow: hidden;
    position: relative;
    padding: 35px;
    text-align: center;
    text-transform: uppercase;
}

form .form-header:after {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #fff;
    left: 50%;
    margin-left: -15px;
    bottom: -15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

form .form-content {
    padding: 10px 15px;
}

fieldset {
    text-align: center;
    margin-top: 30px;
    padding: 0 30px;
}

form fieldset input {
    padding: 10px;
    width: 100%;
}

form .form-panel {
    margin-top: 30px;
    text-align: center;
}

form input[type="submit"] {
    padding: 15px 40px;
    background: #1dabb8;
}

@media (max-width: 767px) {
    form {
        width: 300px;
        border: none;
        top: 50%;
        left: 50%;
        margin-left: -150px;
        margin-top: -150px;
        height: 300px;
    }

    fieldset {
        margin-top: 15px;
    }

    form .form-panel {
        margin-top: 20px;
    }

    form input[type="submit"] {
        padding: 10px 40px;
    }
}