<div class="upload-wrapper" (click)="openDialog($event)">
    <input type="file"
           id="thumbnail"
           name="thumbnail"
           (change)="onInputChange($event)"
           [attr.multiple]="multiple">
    <img *ngIf="!imagePath"
         src="../../../../../assets/images/mock/default-category.png"
         alt="">
    <img *ngIf="imagePath"
         [src]="imagePath"
         alt="">
    <div class="overlay">
        {{ text }}
    </div>
</div>