input[type="file"] {
    display: none;
}

.upload-wrapper {
    width: 200px;
    position: relative;
}

.upload-wrapper img {
    width: 100%;
}

.upload-wrapper .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: calc(50% - 10px);
    text-align: center;
    font-weight: bold;
    color: transparent;
}

.upload-wrapper .overlay:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    cursor: pointer;
}