<h3>Общая информация</h3>

<form>
    <fieldset>
        <div class="field">
            <label for="title">Название</label>
            <input type="text"
                   id="title"
                   class="form-control"
                   name="title"
                   [(ngModel)]="product.title">
        </div>

        <div class="field">
            <label for="title">Описание</label>
            <textarea type="text"
                      id="description"
                      class="form-control"
                      name="description"
                      rows="5"
                      [(ngModel)]="product.description">
            </textarea>
        </div>

        <div class="field">
            <label for="category">Категория</label>
            <select name="category"
                    id="category"
                    class="form-control"
                    [compareWith]="categoryComparator"
                    [(ngModel)]="product.category">
                <option *ngFor="let category of categories"
                        [ngValue]="category">
                    {{ category.title }}
                </option>
            </select>
        </div>

        <div class="field">
            <label for="in-store">Доступность</label><br>
            <div class="checkbox-wrapper">
                <input type="checkbox"
                       id="in-store"
                       name="in_store"
                       [(ngModel)]="product.in_store">
                <span>На складе</span>
            </div>
        </div>
    </fieldset>
    <div class="button-panel">
        <button class="button button-default">Сохранить</button>
    </div>
</form>